body {
    font-family: "Brush Script MT";
    background-color: aqua;
}

h1 {
    font-size: 50px;
}

a,
.content,
.links {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 145, 189);
}

.recipeImg {
    width: 700px;
    height: auto;
}

h1,
h2,
h3,
a,
.links,
.divImage {
    text-align: center;
}



