* {
}

body {
    margin: 0 auto;
    background-color: rgba(0, 75, 75, 0.918);
    border: 1px solid white;
    max-height: auto;
}

h1 {
    border: 1px solid white;
    text-align: center;
    padding: 0px;
    margin: 0px;
    color: white;
}

#selectRecipe {
    display: inline-block;
    height: 100vh;
    border: 1px solid white;
    color: white;
    width: 300px;
}

#selectRecipeh4 {
    text-align: center;
}


.link {
    display: block;
    color: white;
    margin: 5px;
}

